body{
  margin: 0;
  padding: 0;
    overflow-x: hidden;
}

canvas {
  position: fixed;
  top: 0;
  left: 0;
}


:root {
  --dark-bg: rgba(15, 15, 15, 0.95);
  --spacing: 350px;

  font-family: brandon-grotesque, sans-serif;
  font-weight: 400;
  font-style: normal;
}


main {
  width: 100vw;
  color: white;
  z-index: 99;
  position: absolute;
  top: 0;
  left: 0;
  margin: 0px auto;
  padding: 120px 0px;
  
  display: grid;
  grid-template-columns: repeat(12, 1fr);
}

h1, h2, h3, blockquote {
  font-family: elevon, sans-serif;
  font-weight: 700;
  font-style: normal;
}


header {
  background-color: transparent;
  color: white;
  padding: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  position: absolute;
  top: 20px;
  left: 20px;
  z-index: 100;
  width: calc(100% - 60px);
  border-radius: 10px;
  
}


nav {
  text-align: center;
}

.nav-links {
  list-style: none;
  padding: 0;
  margin: 10px 0;
}

.nav-links li {
  display: inline-block;
  margin-right: 10px;
  transition: transform 0.3s ease-in-out;
}

.nav-links li a {
  color: white;
  text-decoration: none;
  padding: 5px 10px;
  border-radius: 0.3em;
}

/*.nav-links li a:hover {
  background-color: #f2f2f2;
}*/

.nav-links li:hover {
  transform: scale(1.04);
}

  section {
    grid-column: 2 / 8;
    padding: 1rem;
    background: var(--dark-bg);
    font-size: 1.25rem;
    line-height: 1.5;
    margin-bottom: var(--spacing);
  }

  blockquote {
    margin: 0;
    padding: 0;
    grid-column: 2 / span 9;
    margin-bottom: var(--spacing);
  }

  blockquote p {
    color: black;
    background-color: white;
    font-size: 4rem;
    display: inline;
    line-height: 1;
  }

  .left {
    grid-column: 6 / 12;
  }